@import url('https://fonts.googleapis.com/css?family=Roboto');

/** GoPass Asset Images
 * https://image.ibb.co/nt4K2d/dart_ticket_bg.jpg
 * https://image.ibb.co/jn7vay/dcta_ticket_bg.jpg
 * https://image.ibb.co/dQMMFy/fwta_ticket_bg.jpg
 * https://image.ibb.co/eaTq8J/golink.png
 * https://image.ibb.co/cK4V8J/gopass.png
 * https://image.ibb.co/cpzxoJ/gopool.png
 * https://image.ibb.co/fYWA8J/gowallet.png
 * https://image.ibb.co/jB7iTJ/home_icon.png
 * https://image.ibb.co/evWXNd/more_icon.png
 * https://image.ibb.co/fate2d/plan_icon.png
 * https://image.ibb.co/mXPaay/wallet_icon.png
 * https://image.ibb.co/iTzmhd/buy_icon.png
 * https://image.ibb.co/d8JJvy/cart.png
 */

:root {
  --light-blue: #4A90E2;
  --blue: #007DBA;
  --dark-blue: #00205B;
  --green: #6DB90E;
  --yellow: #FFCD00;
  --red: #9E2B2C;
  --white: #FFFFFF;
  --black: #000000;
}

[white] {
  background-color: var(--white);
}

[blue] {
  background-color: var(--blue);
}

[light-blue], [blue="light"] {
  background-color: var(--light-blue);
}

[dark-blue], [blue="dark"] {
  background-color: var(--dark-blue);
}

[yellow] {
  background-color: var(--yellow);
}

[red] {
  background-color: var(--red);
}

[black] {
  background-color: var(--black);
}

[--white] {
  color: #fff;
}

[--blue] {
  color: var(--blue);
}

[--light-blue], [--blue="light"] {
  color: var(--light-blue);
}

[--dark-blue], [--blue="dark"] {
  color: var(--dark-blue);
}

[--yellow] {
  color: var(--yellow);
}

[--red] {
  color: var(--red);
}

[--black] {
  color: var(--black);
}

* {
  font-family: Roboto, Arial, Sans-Serif, Sans, Monospace;
}

html, body, #app-container {
  border: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;

  height: 100vh;
  width:  100vw;
}

#app-container {
  background: #fff;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  outline: none;
}

#head, #hair {
  color: #fff;

  position: fixed;

  height: 3.25em;
  width:  100vw;
}

#hair {
  margin-top: -0.05em;
  z-index: 9;
}

#head {
  background: url("https://image.ibb.co/cK4V8J/gopass.png") 10% center/auto 45% no-repeat,
    #fff;
  margin-top: 3.15em;
}

#x {
  font-family: monospace !important;
  font-size: 3em;

  margin-top: -0.4em;
}

#ticket {
  margin-top: 7em;
  position: relative;
}

.hidden-services {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#hair {
  padding: 1em;
}

#hair a {
  position: absolute;
}

#hair .o:first-of-type {
  margin-left: calc(50% - 24px);
}

#time {
  padding: 0.25em 1em 1em;
}

#vend {
  padding: 1em;
}

#vend > *:not(:last-child) {
  padding-right: 1.25em;
}

#act, #exp {
  font-size: 14px;

  vertical-align: top;

  display: inline-block;
}

#act {
  color: var(--dark-blue) !important;
}

#exp {
  color: var(--red) !important;
}

#auth {
  background: var(--yellow);

  transition: background 2s;
}

#auth:hover {
  background: var(--green) !important;
}

#text, #over {
  position: absolute;

  height: 100%;
  width: 100%;
}

#text {
  color: #fff;
  font-size: 14px;

  padding: 1em;

  z-index: 9;
}

#text h1, #text h6 {
  margin: 0;
}

#tid {
  text-transform: uppercase;
}

#vid {
  mix-blend-mode: multiply;

  transition: background 2s;
}

/* Landscape mode */

#app-container.landscape {
  font-size: 200%;
}

#app-container.landscape * {
  color: var(--white) !important;
}

#app-container.landscape #head,
#app-container.landscape #vend
{
  display: none !important;
}

#app-container.landscape #hair {
  padding: 0.5em;
}

#app-container.landscape #hair #x {
  font-size: 1em;
}

#app-container.landscape #hair .o {
  margin-top: -0.6em;
  position: fixed;
}

#app-container.landscape #ticket {
  margin: 0 !important;
}

#app-container.landscape #time {
  background: transparent;

  padding-left: 0.5em;
  position: fixed;
  z-index: 9;
}

#app-container.landscape #auth #text {
  margin-top: 15em;
}
