[data-root^="ephellon.github.io"i] {
    /* Variables */
    --background: #607D8B;
    --color: #29373E;

    --background-dark: #203D4B;
    --background-dark-lit: #405D6B;
    --color-dark: #09070E;
    --border-dark: #0001;

    --background-light: #a0bDcB;
    --background-light-dim: #809DaB;
    --color-light: #69777E;
    --border-light: #fff1;

    --black: #000;
    --black-lit: #222;
    --black-75: #000c;
    --black-50: #0008;
    --black-25: #0004;

    --white: #fff;
    --white-dim: #ddd;
    --white-75: #fffc;
    --white-50: #fff8;
    --white-25: #fff4;

    --red: #f00;
    --red-dim: #800;
    --red-lit: #b00;
    --red-75: #f00c;
    --red-50: #f008;
    --red-25: #f004;

    --orange: #f80;
    --orange-dim: #b60;
    --orange-lit: #d70;
    --orange-75: #f80c;
    --orange-50: #f808;
    --orange-25: #f804;

    --yellow: #ff0;
    --yellow-dim: #bb0;
    --yellow-lit: #dd0;
    --yellow-75: #ff0c;
    --yellow-50: #ff08;
    --yellow-25: #ff04;

    --green: #0f0;
    --green-dim: #080;
    --green-lit: #0b0;
    --green-75: #0f0c;
    --green-50: #0f08;
    --green-25: #0f04;

    --blue: #00f;
    --blue-dim: #008;
    --blue-lit: #00b;
    --blue-75: #00fc;
    --blue-50: #00f8;
    --blue-25: #00f4;

    --purple: #80f;
    --purple-dim: #408;
    --purple-lit: #60b;
    --purple-75: #80fc;
    --purple-50: #80f8;
    --purple-25: #80f4;

    --grey: #888;
    --grey-dim: #444;
    --grey-lit: #bbb;
    --gray: var(--grey);
    --gray-dim: var(--grey-dim);
    --gray-lit: var(--grey-lit);

    --igor-pink: #ff9ab4;
    --baby-blue: #387aff;
    --baby-gold: #f59b00;
    --baby-grey: #9b9b9b;
    --baby-gray: var(--baby-grey);

    /* Main Styling */
    background: var(--background);
    color: var(--color);
}

[data-root^="ephellon.github.io"i] * {
    font-family: system-ui, calibri, monospace, sans-serif !important;
}

[data-root^="ephellon.github.io"i] *:disabled {
    cursor: not-allowed;
    text-decoration: .25em line-through;

    opacity: .5;
}

[data-root^="ephellon.github.io"i] header {
    text-align: center;
}

[data-root^="ephellon.github.io"i] #auto-report-form {
    text-align: center;

    border: 3px solid var(--color);
    border-radius: 5px;
    padding: 1em;
}

[data-root^="ephellon.github.io"i] #report-status {
    color: var(--yellow);
}

[data-root^="ephellon.github.io"i] button, a {
    appearance: button;

    background: white;
    border-color: currentColor !important;
    color: var(--color) !important;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    border: 1px solid var(--color);
    border-radius: 3px;
}

[data-root^="ephellon.github.io"i] button:not(:disabled) {
    cursor: pointer;
}
