.prettyprint, .pretty-input > textarea {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  box-sizing: inherit;
  font-size: 14px !important;
  font-family: Menlo,
    Bitstream Vera Sans Mono,
    DejaVu Sans Mono,
    Monaco,
    Consolas,
    monospace !important;
  line-height: 20px !important;
  overflow: auto !important;
  padding: 2px;
  resize: none;
  text-rendering: auto;
  white-space: pre;
  word-spacing: 0px;
  word-wrap: break-word;
}

.prettyprint > ol.linenums > li {
  list-style-type: decimal-leading-zero !important;
}

.pretty-input > *, #docs-toolbar-wrapper {
  border: none;
  width: 50vw;
}

#docs-toolbar-wrapper {
  background: #fff;
  border: none;
  box-shadow: none; /*0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28)*/
}

#docs-toolbar .button:first-child {
  margin-left: -56px;
}

.pretty-input > textarea, .pretty-input .prettyprint {
  height: 20vw; /* Yes, use vw; it's a 2:5 ratio */
}

.pretty-input > textarea {
  resize: none;
  position: absolute;
  opacity: 0 !important;
  z-index: 9 !important;
}

.pretty-input > .prettyprint {
  z-index: initial !important;
}

.prettyprint .cursor {
  background: rgba(255,255,255,0.1); /* default-blue: #0867d7 */
  border: none;
  color: #fff;
  margin: 0;
  padding: 2px 0;
  width: 0 !important;
}

.prettyprint .cursor.right {
  border-right: solid 1px #fff;
}

.prettyprint .cursor.left {
  border-left: solid 1px #fff;
}

.octicon {
  box-sizing: border-box;
  display: inline-block;
  fill: currentColor;
  font-size: inherit;
  overflow: hidden;
  text-size-adjust: 100%;
  transform-origin: 64px 64px;
  vertical-align: text-bottom;
  white-space: nowrap;
  word-wrap: break-word;
}

a:link, a:visited {
  color: #039be5 !important;
  text-decoration: none !important;
}

a.devsite-doc-set-nav-tab, a.devsite-top-button {
  color: rgba(255,255,255,0.7) !important;
}

a.devsite-footer-promo-title {
  color: rgba(0,0,0,0.9) !important;
}
