html, body {
    background: url("../img/noise.png") fixed, center / cover no-repeat linear-gradient(#CC7B19, #F34245);
    font-family: noto, noto sans, roboto, roboto sans, sans-serif, monospace;
    outline: none;

    margin: 0;
    overflow: hidden;
    padding: 0;

    height: 100%;
    width: 100%;
}

/* Head */
#head {
    background: #0008;
    border-bottom: 1px solid #000;
    color: #FFF;
    font-size: 28px;
    text-align: center;

    position: absolute;
    top: 0;

    height: 10%;
    width: 100%;
}

#head > * {
    vertical-align: middle;
}

#meta {
    color: #FFF8;
    font-size: 50%;
}

#meta > *:not(:first-child):before {
    content: "\2022  "; /* 2014 dash, 2022 bullet, 2023 triangle, 2044 forward slash */
    color: #FFF8;
}

#rating {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;

    line-height: 100%;

    max-height: 50%;
    padding: 1px 3px 0;
}

/* Body */
#body {
    background: center / contain no-repeat;
    border-top: 1px solid #000;

    position: absolute;
    top: 10%;

    height: 79.74% !important;
    width: 100%;
}

#id {
    color: #197BCC;
    font-family: monospace;
    text-align: center;
    text-shadow: 0 0 5px #000;

    left: calc(50% - 100px);
    position: absolute;

    width: 200px;
}

#id > * {
    color: #FFF;
    outline: none;
    text-decoration: none;
}


#id > *:not(:first-child):before {
    content: "\2022  ";
    color: #FFF8;
}

#id > *:empty:after {
    content: "N/A";
    color: #FFF8;
    cursor: not-allowed;
}

#frame {
    border: 1px solid #0000;
    outline: none;

    margin-left: 12.5%;
    margin-top: 0%;

    height: 100%;
    width: 75%;
}

input[type="text"], input[type="password"] {
    background: #ffffff80;
    border: 3px solid #0000;
    border-radius: 3px;
    color: #0008;
    display: block;
    font-family: inherit;
    font-size: 16px;
    outline: none;

    height: 10%;
    width: 30%;
    line-height: 1.5em;

    margin: 0;
    padding: 6px 12px;

    left: 35%;
    position: absolute;
    vertical-align: middle;
    top: 25%;

    transition: background 0.2s;
}

input[type="text"] + input, input[type="password"] + input {
    margin-top: 6%;
}

input:valid:not(:placeholder-shown), input[valid="true"] {
    background: #40ff4080;
}

input:not(:valid), input[valid="false"] {
    background: #ff404080 !important;
}

/* Foot */
#foot {
    background: #0008;
    border-top: 1px solid #000;

    bottom: 0;
    position: absolute;

    height: 10%;
    width: 100%;
}

#foot button {
    background: #F34245;
    border: 1px solid #0008;
    cursor: pointer;
    font-size: 16px;
    outline: none;

    bottom: 5%;
    position: absolute;

    height: 90%;
    width: 45%;

    transition: all 0.25s ease-in-out;
}

#foot button:hover {
    background: #E33235;
}

#foot button[active] {
    background: #D32225;
}

#foot button:first-child {
    left: 8%;
}

#foot button:last-child {
    right: 1%;
}

/* Miscellaneous */
#poster {
    display: none;
}

#loading {
    transition: all 0.5s;

    left: calc(50% - 24px);
    position: absolute;
    top: calc(50% - 24px);
}

[loading=true] {
    opacity: 1;
}

[loading=false] {
    opacity: 0;
}
