@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("fonts/Roboto-Regular.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  overflow: hidden;

  font-family:
    Roboto,
    Arial,
    Sans-Serif,
    Monospace;

  height: 100%;
  width: 100%;
}

body * {
  font: inherit;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.fill-x {
  display: table-cell;

  width: 100%;
}

.container {
  background: transparent;
  border: 10px solid transparent;
  border-image: url("../img/frame.png") 20 round;
  overflow: auto;

  box-sizing: border-box;

  font-size: 2vh;
  margin: 6px 0;
  padding: 0;
  text-align: left;

  width: 95%;
}

.sub-container {
  background: transparent;
  border: none;
  overflow: hidden;

  font-size: 1.5vh;
  margin: 6px 0;
  padding: 0;
  text-align: left;

  width: 95%;
}

.container > * {
  vertical-align: top;
}

table.container {
  display: inline-flex;
}

/* Icons, Logos & Buttons */
/* Icons/Logos */
.l.dart {
  background-image: url("../img/l.dart.png");
}

.l.dcta {
  background-image: url("../img/l.dcta.png");
}

.l.thet {
  background-image: url("../img/l.thet.png");
}

.i.dart {
  background-image: url("../img/i.dart.png");
}

.i.dcta {
  background-image: url("../img/i.dcta.png");
}

.i.thet {
  background-image: url("../img/i.thet.png");
}

.i.bus {
  background-image: url("../img/i.bus.png");
}

.i.cart {
  background-image: url("../img/i.cart.png");
}

.i.events {
  background-image: url("../img/i.events.png");
}

.i.launcher {
  background-image: url("../img/i.launcher.png");
}

.i.settings {
  background-image: url("../img/i.settings.png");
}

.i.tickets {
  background-image: url("../img/i.tickets.png");
}

.i.travel {
  background-image: url("../img/i.travel.png");
}

.i.tutorial {
  background-image: url("../img/i.tutorial.png");
}

/* Buttons */

/* Inactive/Not Pressed */
/* No-Image support/Fallback */
.b, .container button {
  background: linear-gradient(#fff, #d7d7d7 40%, #c6c6c6 40%, #fff);
  border: 2px solid #000;
  border-radius: 6px;

  padding: 10px 15px;
}

/* Image Support */
.b, .container button {
  background: linear-gradient(#ededed, #dadada 35%, #c8c8c8 35%, #ededed);
  border: 10px solid transparent;
  border-image: url("../img/b.png") 20 round;

  padding: 4px 15px;
}

/* Focused/Pressing */
/* No-Image support/Fallback */
.b.h, .container button:hover {
  background: linear-gradient(#595959, #dbdbdb 40%, #d1d1d1 40%, #cecece);
  border: 2px solid #000;
  border-radius: 6px;

  padding: 10px 15px;
}

/* Image Support */
.b.h, .container button:hover {
  background: linear-gradient(#bdbdbd, #dbdbdb 20%, #d1d1d1 20%, #ececec);
  border: 10px solid transparent;
  border-image: url("../img/b.f.png") 20 round;

  padding: 4px 15px;
}

/* Selected/Pressed */
/* No Image Support/Fallback */
.b.f, .container button:focus, .container button.focus {
  background: linear-gradient(#001433, #112F57);
  border: 2px solid transparent;
  border-radius: 6px;
  color: #fff;

  padding: 10px 15px;
}

/* Image Support */
.b.f, .container button:focus, .container button.focus {
  background: linear-gradient(#01214B, #153D70);
  border: 10px solid transparent;
  border-image: url("../img/b.s.png") 20 round;
  color: #fff;

  padding: 4px 15px;
}

/* Disabled */
/* Image Support */
/* No-Image support/Fallback */
.b.d, .container button[disabled=true] {
  background: linear-gradient(#fcfcfc, #d3d3d3 40%, #c7c7c7 40%, #fefefe);
  border: 2px solid transparent;

  padding: 10px 15px;
}

.b.d, .container button[disabled=true] {
  background: linear-gradient(#e4e4e4, #d3d3d3, #c7c7c7 45%, #e6e6e6);
  border-image: url("../img/b.d.png") 20 round;

  padding: 4px 15px;
}

/* Fixes/Constants */
.container button {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;

  width: calc(100% - 35pt);
}

.sub-container button {
  width: calc(100% - 60pt);
}

.container > button {
  text-transform: uppercase;
}

a {
  color: inherit;

  text-decoration: none;
}

.i {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  box-shadow: 0 0 1px 1px #000 inset;

  margin: -1px;
  margin-bottom: -5px;
  padding: 0;

  height: 30pt;
  width: 30pt;
}

.l {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  box-shadow: 0 0 1px 1px #000 inset;

  margin: -10px 0;
  padding: 0;

  height: 30pt;
  width: 55pt;
}