button[class*="interact"i] [style*="asset"i] < button < 1
[class*="gift"i][class*="expir"i][class*="call"i] < 3
[style*="social-shar"i][style*="promo"i] < 1
[href*="twitch-web.app"i] < 5
[href*="recap"i] < footer

[class*="turbo"i]
[style*="turbo-ads"i] < button < 2
a[href*="allow-ads"i] < [class*="overlay"i]
a[href*="turbo"i] < [class*="player"i][class*="overlay"i][class*="darkness"i]

[class*="subtember"i] < 1
[href*="subtember"i] < [class*="background"i] < 1
[href*="subtember"i] < [style*="subtember"i] < 2

a[href*="tickets"i] < footer
img[src*="bonus-round"i] < [class*="bonus-round"i]
