# TTV Tools config file
[default]
extensionId = fcfodihfdbiiogppbnhabkigcdhkhdjd

[selectors.required]
SignUpBanner = [data-test-target*="upsell"i][data-test-target*="banner"i]
UserMenuToggleButton = [data-a-target="user-menu-toggle"i]

[selectors.optional]
ACTIVITY = [data-a-target="presence-text"i]
USERNAME = [data-a-target="user-display-name"i]
